.navbar {
    background-color: #2c3e50;
    padding: 0;
}


@media screen and (max-width: 992px) {
    .navbar {
        background-color: #2c3e50;
        padding: 1rem;
    }
    .navbar-nav {
        margin: 20px 0 auto;
    }
    .navbar>.container-fluid {
        align-self: end;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
        align-items: flex-end
    }
    .navbar-nav a.nav-link:hover,
    .navbar-nav a.nav-link.active{
        border-bottom: 0;
        border-right: solid;
    }
  }

@media screen and (min-width: 992px) {
    .navbar-nav {
        margin: 0 auto;
    }
    .navbar-nav a.nav-link:hover,
    .navbar-nav a.nav-link.active{
        border-bottom: solid;
    }
  }
  




.navbar-brand{
    display: none;
}

.quarto-title-banner {
    background-color: transparent !important;
    padding-bottom: 0;
}

.quarto-title-meta {
    grid-template-columns: repeat(1, 1fr) !important;
    text-align: center;
}

.title {
    text-align: center;
}

li p {
    margin-bottom: 0;
}

p {
    text-align: justify;
    text-justify: inter-word;  
}

div.quarto-title-meta {
    display: flex !important;
    justify-content: center;
}